* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100vw;
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0 15px;
    background: burlywood;
}

.navbar ul.menu {
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}
.navbar ul.menu li {
    float:left;
    padding:4px 10px;
}


.navbar__links {
    margin-left: auto;
    padding-left: 5px;
    word-spacing: 20px;
}
